@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

body{
	font-family: 'Open Sans', sans-serif;
	background: #60A9FF;
}

.pricing-table{
   
width: 900px;
   
margin: auto;
   
background: #fff;
   
border-radius: 7px;
   
margin-top: 150px;
   
margin-bottom: 150px;
}

.pricing-table .row{
   
display: flex;
   
flex-wrap: wrap;
}
.pricing-table .row .col{
   
max-width: 33.33%;
   
flex-basis: 33.33%;
}
.pricing-table .row .col .info{
   
padding: 30px;
   
border-right: 2px solid #E1F1FF;
}
.info img{
	
width: 100%;
}
.info h1{color: #99877F;text-transform: uppercase;font-size: 18px;text-align: center;}
.info h3{

color: #1079FA;

font-weight: 400;

letter-spacing: 2px;

text-transform: uppercase;

font-size: 16px;

text-align: center;
}
.info h6{

color: #1079FA;

font-weight: 500;

letter-spacing: 2px;

text-transform: uppercase;

font-size: 16px;

text-align: center;
}
.info span{

display: block;

color: #1079FA;

font-weight: 800;

letter-spacing: 2px;

text-transform: uppercase;

font-size: 35px;

text-align: center;
}
.info a{

display: block;

text-decoration: none;

text-transform: uppercase;

text-align: center;

border: 1px solid #1079FA;

padding: 15px;

margin: auto;

color: #1079FA;

transition-duration: 0.4s;

border-radius: 10px;
}
.info a:hover{
	
background: #1079FA;
	
color: #fff;
	
border: 1px solid #1079fa00;
}